.template__column {
  padding-left: 0px;
  padding-top: 0px;
  max-width: 220vw;
  margin-left: 8%;
}

.columnList,
.pageName {
  margin-top: 48px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .template__column {
    padding-left: 60px;
    padding-right: 60px;
    margin-left: max(20%, 376px);
    overflow-x: hidden;
  }

  .columnList {
    margin-bottom: 0;
  }

  .pageName {
    margin-bottom: 1rem;
  }
}

.template__image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading1 > span {
  font-weight: 700 !important;
}

.heading2 > span {
  margin-bottom: 32px;
  font-weight: 700 !important;
}

.heading3 > span {
  margin-bottom: 16px;
  font-weight: 700 !important;
}

.heading3 {
  margin-top: 2rem;
}
