.template__column {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  margin-left: 20%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .template__column {
    padding-left: 0px;
    padding-top: 0px;
    max-width: 90vw;
    margin-left: 8%;
  }

  .columnList,
  .pageName {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.template__image {
  width: 100%;
}

.columnList,
.pageName {
  margin-bottom: 64px;
}

.heading1 > span {
  font-weight: 700 !important;
}

.heading2 > span {
  margin-bottom: 32px;
  font-weight: 700 !important;
}

.heading3 > span {
  margin-bottom: 16px;
  font-weight: 700 !important;
}
