{
    "extends": [
        "plugin:prettier/recommended",
        "plugin:@next/next/recommended"
    ],
    "plugins": ["prettier", "react"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module",
        "ecmaVersion": 2020
    }
}
