.Ecosystem {
    --ecosystem-width: calc(var(--sidebar-width) - 88px);
    --ecosystem-color: var(--color-bg-light);
}

.Ecosystem a:focus-visible,
.Ecosystem button:focus-visible  {
    outline: 2px solid black;
    outline-offset: 4px;
}

@media print {
    .Ecosystem {
        display: none;
    }
}
