@import "normalize.css";
@import "./font.css";

html,
body {
  background-color: rgb(255, 255, 255) !important;
  color: #000000 !important;
  padding: 0;
  margin: 0;
  font-family: Iset Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  scroll-behavior: smooth;
  font-weight: 300 !important;
  max-width: 100%;
  overflow-x: hidden;
}

code {
  background-color: #f7f6f3;
  padding: 2rem;
  display: inline-block;
  border-radius: 4px;
  color: black !important;
}

a {
  display: inline;
  color: rgb(0, 0, 0) !important;
  text-decoration: none !important;
  border: none !important;
  transition: all;
  transition-duration: .2s;
  box-shadow: 0 3px 0 0 #c2c2c2;
}

a:hover {
  color: rgb(89, 89, 89) !important;
}

ul {
  padding-left: 0 !important;
}

ul li {
  list-style-type: none;
}

ul li:before {
  content: "— ";
}

input {
  font-style: normal;
  font-size: 3.125rem;
  line-height: 1.4;
  border: none;
  display: inline;
  width: auto;
  height: auto;
  background: black;
  color: #000000;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 120%;
  min-width: 768px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 140%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 160%;
  }
}
