.manualItem {
    width: 20%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.manualItem:hover {
    color: white;
    background-color: black;
}

.manualItem img {
    width: 281px;
    height: 155px;
    object-fit: cover;
}

.manualTitle {
    font-size: 1rem;
    padding: 15px;
    text-align: center;
}

.manualsSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}