/*Обычный*/
@font-face {
  font-family: "IsetSans";
  font-style: normal;
  font-weight: normal;
  src: url(/client/public/fonts/IsetSans-Medium.woff2);
}

/*Полужирный*/
@font-face {
  font-family: "IsetSans";
  font-style: normal;
  font-weight: bold;
  src: url(../public/fonts/IsetSans-SemiBold.woff2);
}
