.SuggestionsContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 100px);
    margin-top: 8px;
    gap: 8px;
    margin-right: 8px;
    border-radius: 16px;
    color: var(--color);
}

.SuggestionsContainer::-webkit-scrollbar {
    display: none;
}

.SuggestionsNotFound {
    align-self: center;
    font-size: 24px;
}

.imageContainer {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.imageContainer > div {
    position: static;
}

.imageContainer .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    border-radius: 8px;
}

.GuideSuggestion {
    padding: 24px;
    border-radius: 16px;
    background: hsl(var(--color-h) 72% 97%);
}

.GuideSuggestionTitle {
    position: absolute;
    font-weight: 400;
    margin-bottom: 0.15em;
    font-size: 5vw;
    top: 0;
    padding: 0 16px;
}

.SectionSuggestion {
    color: var(--color);
    border-radius: 16px;
    margin-bottom: 12px;
}

.SectionSuggestionList {
    list-style: none;
    padding-left: 0;
}

.SectionSuggestionTitle {
    font-weight: 500;
    font-size: 20px;
    margin-left: 16px;
}

.SuggestItemTarget {
    font-weight: 500;
}

.SuggestItemLink {
    font-size: 16px;
    text-decoration:none;
}

.SuggestItemListItem {
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 8px;
    background: hsl(var(--color-h) 75% 93%);
    font-weight: 300;
    transition: .15s ease;
}

@media (hover: hover) {
    .SuggestItemListItem:hover {
        background-color: rgba(255, 255, 255, .75);
    }
}

.SuggestItemListItem:active {
    background-color: white;
}

.SuggestItemSuggestionText {
    color: #14283c;
    opacity: 0.5;
}

@media screen and (min-width: 991px) {
    .GuideSuggestionTitle {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 991px) {
    .GuideSuggestionTitle {
        font-size: 1.4vw;
    }
}
