.Suggestions__container {
    padding-left: calc(48px + 50px);
    padding-top: 40px;
    padding-right: 24px;
    padding-left: 24px;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 100px);
}

.image__container {
    position: relative;
    width: 100%;
}

.image__container > div {
    position: static;
}

.image__container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    border-radius: 8px;
}
  

.GuideSuggestion__title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: baseline;
}

.GuideSuggestion__icon {
    transform: translateY(8px);
    object-fit: contain;
}

.GuideSuggestion {
    border-bottom: 1px solid rgb(155, 170, 195, 0.15);
    margin-bottom: 1em;
}

.SectionSuggestion__list {
    list-style: none;
    padding-left: 0;
}

.SuggestItem__target {
    font-weight: 600;
    color: #14283C;
}

.SuggestItem__link {
    text-decoration: none;
    color: #14283C;
    font-size: 18px;
}

.SuggestItem__listItem:hover > .SuggestItem__link {
    text-decoration: underline;
    color: #14283C;
}

.SuggestItem__listItem {
    margin-bottom: 16px;
}

.SuggestItem__suggestionText {
    color: #14283C;
    opacity: 0.5;
}
