.SidePage__container {
    height: 100vh;
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
}

@media screen and (min-width: 1500px) {
    .SidePage__container {
        width: var(--sidebar-width);
    }
}
