.SidePage__container {
    height: 100vh;
    width: max(var(--sidebar-width), var(--sidebar-width-offset));
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
}

.SidePage__close {
    visibility: hidden;
}

@media screen and (min-width: 1500px) {
    .SidePage__container {
        width: max(410px, var(--sidebar-width-offset));
    }
}

@media screen and (min-width: 1900px) {
    .SidePage__container {
        width: 502px;
    }
}