.tableOfContents {
  margin: 15px;
  border-radius: 10px;
  display: flex;
  position: fixed;
  padding: 20px 30px;
  width: 20%;
  height: calc(100vh - 30px);
  background-color: #1231;
  overflow: auto;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .tableOfContents {
    text-align: left;
    padding: 8px;
  }
}

.tableOfContents::-webkit-scrollbar {
  display: none;
}

.tableOfContents > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: none;
}

.tableOfContents > ul > .tableOfContentsLink {
  box-shadow: none !important;
  /* padding-left: 15px; */
}

.tableOfContents > ul > .designCodeLink {
  /* padding-left: 15px; */
  font-size: 24px;
}
