.mainPage {
    padding: 2vmax;
    background-color: #fff;
    margin-bottom: 20vh;
}

.mainPageTitle {
    display: flex;
    font-size: 8vw;
    line-height: 1;
    margin-top: 0.15em;
    color: #000;
    font-weight: 500;
    align-items: center;
    margin-bottom: 4vw;
}

.mainPageLogo {
    position: relative;
    flex-shrink: 0;
    width: 18vw;
    height: 18vw;
    margin-right: 2vw;
}

.mainPageManuals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4vw;
}

.mainPageText {
    margin-bottom: 0.4vw;
}

@media screen and (min-width: 991px) {
    .mainPageManuals {
        gap: 1.486vw;
    }
}
