.mainPage {
    padding: 2vmax;
    background-color: #fff;
    margin-bottom: 80px;
}

.mainPageTitle {
    font-size: 8vw;
    margin: 0;
    padding: 0;
}

.mainPageManuals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4vw;
}

@media screen and (min-width: 991px) {
    .mainPageManuals {
        gap: 1.486vw;
    }
}
