.template__column {
  padding-left: 0px;
  padding-top: 0px;
  max-width: 70vw;
}

.columnList,
.pageName {
  margin-top: 30px;
  margin-bottom: 30px;
}

.template__image {
  width: 100%;
}

.heading1 > span {
  font-weight: 700;
}

.heading2 > span {
  margin-bottom: 32px;
  font-weight: 700;
}

.heading3 > span {
  margin-bottom: 16px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .template__column {
    padding-left: 60px;
    padding-right: 60px;
    margin-left: max(20%, 376px);
    max-width: 900px;
    font-size: 1.5em;
    line-height: 1.35;
    overflow-x: hidden;
  }

  .columnList,
  .pageName {
    margin-bottom: 64px;
  }
}