.Template__item {
    margin-top: 0;
}

.templateColumn {
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 4%;
    margin-right: 4%;
}

/* .Manual__image_zoom {
    width: 100vw;
    height: 100vh;
}

.Manual__image_zoom > img {
    zoom: 150%;
} */

.footNav {
    margin-top: auto;
    display: flex;
    margin-left: 0;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.pageName {
    font-size: clamp(64px, 11vw, 48px);
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: 500;
}

.Manual__image {
    border-radius: 8px;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.Manual__image__container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.Manual__image__container > img {
    position: unset !important;
    border-radius: 8px !important;
}

.Manual__image__container:hover {
    cursor: pointer;
}

.Manual__image_description {
    color: #6c757d;
}

.Manual__image_svg {
    box-shadow: none;
}

.previewImageContainer {
    width: 100%;
    margin-top: 16px;
    margin-left: 24px;
}

.previewImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    border-radius: 16px;
}

@media (min-width: 991px) {
    .previewImageContainer {
        width: calc(100% + 100px);
    }

    .previewImage {
        margin-left: -8%;
    }

    .templateColumn {
        min-height: 100vh;
        padding-left: 128px;
        padding-right: 128px;
        margin-left: calc(max(20%, 376px) + 15px);
        margin-right: 0px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .Manual__image_description {
        color: #f3f3f3;
    }
}
