.Template__item {
    margin-top: 2rem;
}

.templateColumn {
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 4%;
    margin-right: 4%;
}

.footNav {
    margin-top: auto;
    display: flex;
    margin-left: 0;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.pageName {
    font-size: clamp(48px, 10vw, 28px);
}

.Manual__image {
    border-radius: 16px;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.Manual__image__container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.Manual__image__container > div {
    position: unset !important;
}

.Manual__image_description {
    color: #6c757d;
}

.Manual__image_svg {
    box-shadow: none;
}

.heading1 {
    font-size: 3.5rem;
}

.heading2 {
    font-size: 2.5rem;
}

.heading3 {
    font-size: 1.5rem;
}

@media (min-width: 991px) {
    .templateColumn {
        min-height: 100vh;
        padding-left: 120px;
        max-width: 850px;
        margin-left: max(20%, 376px);
        overflow: visible;
        padding-right: 120px;
    }

    .pageName {
        margin-bottom: 4rem;
        margin-top: 4rem;
    }
}

@media (min-width: 1600px) {
    .templateColumn {
        padding-left: 100px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .Manual__image_description {
        color: #f3f3f3;
    }
}
