.Callout__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    margin: 1.5vw auto;
    border: 1px solid rgba(20, 40, 60, 0.16);
    border-radius: 8px;
    padding: 16px;
}

.Callout__icon {
    margin-right: 8px;
}

.Callout__container div {
    font-size: 16px;
    line-height: 1.4;
}
