.linkToAllManuals {
  background-color: rgb(255, 212, 0);
  box-shadow: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.linkToAllManuals:hover {
  background-color: rgba(255, 212, 0, 0.8);
  box-shadow: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: 0;
}

.catalogTitle {
  display: block;
  line-height: 1;
  font-size: 1.3em;
  padding: calc(0.65em + 7.5px);
  font-weight: 500;
  box-shadow: none;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
}

.catalogTitle:hover,
.catalogTitle:focus-visible {
  box-shadow: none;
  background-color: #ffffff;
  color: #112233;
  border-radius: 10px;
  outline: 0;
}

.tableOfContents {
  text-align: left;
  padding: 8px;
  display: none;
  width: 90%;
  height: 90%;
  margin: 40px;
  background-color: #eff0f1;
  border-radius: 10px;
  display: flex;
  position: fixed;
  padding: 20px 30px;
  overflow: auto;
  scrollbar-width: none;
  z-index: 1;
}

.tableOfContents::-webkit-scrollbar {
  display: none;
}

.tableOfContents > ul {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  gap: 1em;
}

.innerTableOfContentsLink {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 0px 15px calc(2.5em + 7.5px);
  font-weight: 400;
  box-shadow: none;
}

.innerTableOfContentsLink:hover,
.innerTableOfContentsLink:focus-visible {
  box-shadow: none;
  background-color: #ffffff;
  color: #112233;
  border-radius: 10px;
  margin-left: -15px;
  margin-right: -15px;
  outline: 0;
}

.tableOfContents > ul > .tableOfContentsLink {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 0px 15px calc(0.65em + 7.5px);
  font-weight: 400;
  box-shadow: none;
}

.tableOfContents > ul > .tableOfContentsLink:hover,
.tableOfContents > ul > .tableOfContentsLink:focus-visible {
  box-shadow: none;
  background-color: #ffffff;
  color: #112233;
  border-radius: 10px;
  outline: 0;
}

.active {
  box-shadow: none;
  background-color: #ffffff;
  color: #112233;
  border-radius: 10px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 0px 15px calc(0.65em + 7.5px);
}

.tableOfContents > ul > .designCodeLink {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .tableOfContents {
    margin: 15px;
    border-radius: 10px;
    display: flex;
    position: fixed;
    padding: 20px 30px;
    min-width: 376px;
    width: 20%;
    height: calc(100vh - 30px);
    background-color: #1231;
    overflow: auto;
    scrollbar-width: none;
  }

  .menu {
    display: none;
  }
}
