.tableOfContents {
    --color-underline-hover: hsl(var(--color-hsl) / 30%);

    position: fixed;
    text-align: left;
    padding: 8px;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 12;
    overflow: auto;
    scrollbar-width: none;
    background-color: var(--color-bg-light);
}

.tableOfContents__title {
    padding: 0 16px;
    margin-top: 12px;
}

.link {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.hidden {
    opacity: 0;
}

.linkContainerList {
    list-style: none;
    padding-left: 0;
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 80px;
    overflow: auto;
    border-radius: 8px;
}

.linkContainerList::-webkit-scrollbar {
    display: none;
}

.TableOfContents__divider {
    border-bottom: 1px solid transparent;
    width: 100vw;
    margin: 20px -20px 0px;
}

.TableOfContents__icon {
    margin-right: 8px;
    margin-left: 0px;
    margin-top: 2px;
}

.TableOfContents__icon > img {
    object-fit: contain;
    object-position: left center;
}

html:has(.open) {
    overflow-y: hidden;
}

.open {
    display: flex;
    flex-direction: column;
}

.tableOfContentsLink {
    display: flex;
    font-weight: 300;
    color: var(--color);
    text-decoration: none;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.15s ease;
    outline-offset: -1px;
}

.tableOfContentsLink:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid hsl(var(--color-hsl) / 20%);
}

@media (hover: hover) {
    .tableOfContentsLink:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.tableOfContentsLink:active {
    background-color: white;
}

.innerlinkContainerListItem {
    position: relative;
}

.innerlinkContainerListItem:first-of-type {
    margin-top: 16px;
}

.innerlinkContainerListItem::after {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% + 7px);
    width: 0;
    height: calc(100% + 8px);
    transform: translateY(-50%);
    border-right: 2px solid var(--color);
    border-left: 1px solid var(--color);
    opacity: 0;
}

.visible::after {
    opacity: 1;
    transition: opacity 0.15s ease;
}

.visible + .visible::after {
    height: calc(100% + 40px);
    margin-top: -16px;
    transition: none;
}

.innerlinkContainerListItem2Level {
    counter-reset: page-subsection 0;
    counter-increment: page-section;
    margin: 12px 0;
    font-weight: 400;
}

.innerlinkContainerListItem2Level .innerTableOfContentsLink::before {
    content: counter(page-chapter) '.' counter(page-section) '. ';
}

.innerlinkContainerListItem3Level + .innerlinkContainerListItem2Level {
    margin-top: 16px;
}

.innerlinkContainerListItem3Level {
    margin-bottom: 16px;
    font-weight: 300;
}

.innerlinkContainerListItem3Level .innerTableOfContentsLink {
    counter-increment: page-subsection;
    opacity: 0.8;
}

.innerlinkContainerListItem3Level .innerTableOfContentsLink::before {
    content: counter(page-chapter) '.' counter(page-section) '.' counter(page-subsection) '. ';
}

.innerTableOfContentsLink {
    display: flex;
    color: var(--color);
    text-decoration: none;
    border-radius: 8px;
    transition: 0.15s ease;
    padding: 0 8px;
    position: relative;
    font-size: 14px;
    opacity: 1;
    line-height: 1.35;
}

.innerLinkHidden {
    z-index: 2;
}

.innerTableOfContentsLink:hover span {
    text-decoration: underline;
    text-decoration-color: hsl(var(--color-hsl) / 30%);
}

.innerlinkContainerList {
    padding-bottom: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.active {
    position: sticky;
    top: 0;
    z-index: 1;
}

.active::before,
.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.active::before {
    background: var(--color-bg-light);
}

.active::after {
    background-color: var(--color-bg-dark);
}

.active,
.active:hover,
.innerlinkContainerList {
    text-decoration: none;
    font-weight: 400;
    background-color: var(--color-bg-dark);
}

.TableOfContents__aside {
    display: flex;
}

@media screen and (min-width: 991px) {
    .tableOfContents {
        border-radius: 17px;
        margin: 8px;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: calc(100vh - 100px);
        width: var(--sidebar-width);
        overflow: auto;
        scrollbar-width: none;
        padding: 0px 11px 11px 9px;
    }
    
    html:has(.open) {
        overflow: auto;
    }

    .tableOfContents__title {
        margin-top: 24px;
    }

    .linkContainerList {
        padding-bottom: 0;
    }
}
