.linkToAllManuals {
    background-color: transparent;
    box-shadow: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    color: #14283C;
    text-decoration: none;
    transition: 0.2s;
}

.link {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    position: sticky;
    top: 0;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 16px;
}

.hidden {
    opacity: 0;
}

.visible::before {
    content: '';
    width: 0;
    position: absolute;
    left: 20px;
    height: 20px;
    border: 1px solid;
}

.linkContainerList {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.linkToAllManuals:hover,
.linkToAllManuals:focus-visible {
    box-shadow: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #14283C;
    background-color: #fff;
    text-decoration: none;
}

.catalogTitle {
    line-height: 1.2;
    font-size: 32px;
    font-weight: 500;
    box-shadow: none !important;
    text-decoration: none;
    transition: 0.2s;
    padding-top: 0px;
    margin-top: 12px;
    flex: 1;
}

.innerH3 {
    margin-left: .5em;
    font-size: 12px;
}

.catalogTitle:hover,
.catalogTitle:focus-visible {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.TableOfContents__divider {
    border-bottom: 2px solid;
    width: 100vw;
    margin: 20px -20px;
}

.TableOfContents__icon {
    margin-right: 8px;
    margin-left: 0px;
}

.TableOfContents__icon > img {
    object-fit: contain;
    object-position: left center;
}

.tableOfContents {
    text-align: left;
    padding: 8px;
    display: none;
    margin-top: 3rem;
    width: 100%;
    height: calc(100vh - 96px);
    background-color: #eff0f1;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 9;
    overflow: auto;
    scrollbar-width: none;
    padding-top: 8px;
}

.open {
    display: flex !important;
    flex-direction: column !important;
}

.tableOfContents::-webkit-scrollbar {
    display: none;
}

.linkContainerList {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    gap: 1rem;
    flex-grow: 1;
}

.innerTableOfContentsLink {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    box-shadow: none;
    color: #14283C;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    padding: 10px 5px 10px 0.5rem;
}

.innerTableOfContentsLink:hover {
    text-decoration: underline;
}

.innerlinkContainerList {
    background-color: #ffffff;
    padding-bottom: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    list-style: none;
}

.tableOfContentsLink {
    font-weight: 400;
    box-shadow: none;
    color: #14283C;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    padding: 15px;
    font-size: 1rem;
}

.tableOfContentsLink:hover,
.tableOfContentsLink:focus-visible {
    box-shadow: none !important;
    background-color: #ffffff;
    color: #112233;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
    box-shadow: none;
    background-color: #ffffff;
    margin-bottom: 15px;
    text-decoration: none;
}

.active::hover {
    box-shadow: none !important;
}

.separator {
    padding: 16px 16px 8px 16px;
    border-bottom: 2px solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.TableOfContents__aside {
    display: flex;
}

@media screen and (min-width: 991px) {
    .tableOfContents {
        margin: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 16px 20px;
        min-width: 376px;
        height: calc(100vh - 116px);
        width: 20%;
        background-color: #1231;
        overflow: auto;
        scrollbar-width: none;  
        padding-top: 0px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .catalogTitle {
        color: white;
    }
}
