.manualItem {
  background: white !important;
  overflow: visible;
  width: 130vw;
  display: block;
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease-in;
  margin: 0;
  box-shadow: rgb(17 12 46 / 10%) 0px 15px 25px -5px;
  border-radius: 0.5em;
  aspect-ratio: 16 / 10;
}

.manualItem:hover,
.manualItem:focus-visible {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  outline: none;
}

.manualItem img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 10;
}

.manualItem span {
  overflow: visible !important; /*Саша, прости!*/
}

.manualItem:hover img,
.manualItem:focus-visible img {
  transform: matrix(1, -0.08, 0, 1, 0, 0) scaleX(0.95);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 768px) {
  .manualItem {
    width: calc(100% / 3 - 2vw);
  }
}