.footNav {
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
  gap: 1rem;
}

.footNav > a {
  box-shadow: none;
  color: rgba(17, 34, 51, 1);
  text-decoration: none;
  padding: 1rem;
  background-color: rgba(17, 34, 51, 0.07);
  border-radius: 64px;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  transition: 0.2s;
}

.footNav > a:hover {
  background-color: #dadada;
  color: rgba(17, 34, 51, 1);
}

@media screen and (min-width: 768px) {
  .footNav {
    margin-left: max(20%, 376px);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .footNav > a {
    background-color: white;
  }
}
