.footNav {
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
}

.footNav > a {
  box-shadow: none;
  color: rgba(17, 34, 51, 1);
  padding: 16px 24px;
  background-color: rgba(17, 34, 51, 0.07);
  border-radius: 64px;
  font-weight: 700;
  gap: 8px;
  margin: 20px;
  transition: 0.2s ease-in-out;
}

.footNav > a:hover {
  background-color: #dadada;
}

@media screen and (min-width: 768px) {
  .footNav {
    margin-left: max(20%, 376px);
  }
}
