.File__container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
}

.File__link {
    text-decoration: none;
    color: #000;
}

@media screen and (prefers-color-scheme: dark) {
    .File__link {
        text-decoration: none;
        color: #fff;
    }
}