.logoContainer {
  background-color: transparent;
  box-shadow: none;
  position: relative;
  display: flex;
  column-gap: 1em;
  margin-top: 10px;
  padding-left: 10px 0px 10px calc(1em + 7.5px);
  color: black;
  text-decoration: none;
}

.logoContainer:hover,
.logoContainer:focus-visible {
  box-shadow: none;
  background-color: #ffffff;
  color: #112233;
  border-radius: 10px;
  outline: 0;
}

.logoContainerText {
  font-weight: 500;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-left: 10px;
}