.manual {
    --manual-text: var(--color);
    --manual-bg-cover: hsl(var(--color-h) var(--color-s) min(calc(var(--color-l) + 62%), 97%));
    --manual-bg-back: hsl(var(--color-hsl) / 30%);

    position: relative;
    width: 90vw;
    display: block;
    cursor: pointer;
    margin: 0;
    border-radius: 0.4em;
    aspect-ratio: 16 / 10;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(18px, 5vw, 21px);
    background: var(--manual-bg-back);
    outline-offset: 3px;
}

.manualEmoji {
    position: absolute;
    right: 0.1em;
    bottom: 0.1em;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.manualInner {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.8em 2.5em 0.8em 1em;
    border-radius: 0.4em;
    background: white;
    color: var(--manual-text);
    text-wrap: balance;
    transition: transform 0.15s ease-in;
    transform-origin: left bottom;
}

.manualBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    background-size: contain;
    background-color: var(--manual-bg-cover);
}

.manualIcon {
    position: absolute;
    width: 100%;
    height: 1.75em;
    left: 1em;
    bottom: 0.8em;
}

.manualIcon > img {
    object-fit: contain;
    object-position: left center;
}

.manual:hover .manualInner {
    transform: matrix(1, -0.125, 0, 1, 0, 0) scaleX(0.95);
}

.manualTitle {
    position: relative;
    font-weight: 400;
    margin-bottom: 0.15em;
    font-size: 5vw;
}

.manualSubtitle {
    position: relative;
    font-size: 3vw;
    line-height: 1.25;
    font-weight: 300;
}

.manualStatus {
    position: absolute;
    top: -0.5vw;
    right: -0.3vw;
    font-size: 0.9em;
    padding: 0.25em 0.5em 0.25em;
    line-height: 1;
    color: white;
    border-radius: 20px;
    font-weight: 500;
}

.manualStatusNew {
    background: #00b4ff;
}

.manualStatusUpdated {
    background: #ffd400;
}

.manualDate {
    position: absolute;
    font-size: 0.5em;
    font-weight: 300;
    bottom: 10px;
    right: 12px;
    padding: 2px 4px 2px 4px;
    border-radius: 100px;
    background-color: var(--manual-bg-cover);
}

@media print {
    .manual {
        break-inside: avoid;
    }

    .manualBackground {
        /* Prevent image hiding */
        color-adjust: exact;
    }
}

@media print, screen and (min-width: 768px) {
    .manual {
        width: calc(100% / 2 - 2vw);
    }

    .manualTitle {
        font-size: 2.5vw;
    }

    .manualSubtitle {
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 991px) {
    .manual {
        width: calc(100% / 3 - 1.1vw);
    }

    .manualTitle {
        font-size: 1.4vw;
    }

    .manualSubtitle {
        font-size: 0.8vw;
    }
}

@media screen and (min-width: 1440px) {
    .manual {
        font-size: 1.25vw;
        width: calc(100% / 4 - 1.15vw);
    }
}

@media screen and (min-width: 1900px) {
    .manual {
        font-size: 1.2vw;
    }

    .manualInner {
        padding: 1em;
    }
}
