.manual {
    position: relative;
    background: white;
    overflow: visible;
    width: 90vw;
    display: block;
    cursor: pointer;
    margin: 0;
    border-radius: .4em;
    aspect-ratio: 16 / 10;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(18px, 5vw, 21px);
}

.manual:focus-visible {
    outline-width: 0;
}

.manualEmoji {
    position: absolute;
    right: .1em;
    bottom: .1em;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.manualInner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: left bottom;
    transition: transform .15s ease-in;
    padding: .8em 1em;
    border-radius: .4em;
    background: white;
}

.manualBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    background-size: contain;
}

.manualIcon {
    position: absolute;
    width: 100%;
    height: 1.75em;
    left: 1em;
    bottom: .8em;
}

.manualIcon > img {
    object-fit: contain;
    object-position: left center;
}

.manual:hover .manualInner {
    transform: matrix(1, -0.125, 0, 1, 0, 0) scaleX(0.95);
}

.manual:focus-visible {
    outline: 2px solid black;
}

.manualTitle {
    position: relative;
    font-weight: 400;
    margin-bottom: .15em;
    font-size: 5vw;
}

.manualSubtitle {
    font-size: 3vw;
    line-height: 1.25;
    font-weight: 300;
}

.manualStatus {
    position: absolute;
    top: -.5vw;
    right: -.3vw;
    font-size: .9em;
    padding: .25em .5em .25em;
    line-height: 1;
    color: white;
    border-radius: 20px;
    font-weight: 500;
}

.manualStatusNew {
    background: #00b4ff;
}

.manualStatusUpdated {
    background: #ffd400;
}

.manualDate {
    position: absolute;
    font-size: .5em;
    font-weight: 300;
    bottom: 10px;
    right: 12px;
    opacity: .6;
    padding: 2px 4px 2px 4px;
    border-radius: 100px;
}

@media screen and (min-width: 768px) {
    .manual {
        width: calc(100% / 2 - 2vw);
    }

    .manualTitle {
        font-size: 2.5vw;
    }
    
    .manualSubtitle {
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 991px) {
    .manual {
        width: calc(100% / 3 - 1.1vw);
    }

    .manualTitle {
        font-size: 1.4vw;
    }
    
    .manualSubtitle {
        font-size: 0.8vw;
    }
}

@media screen and (min-width: 1440px) {
    .manual {
        font-size: 1.25vw;
        width: calc(100% / 4 - 1.15vw);
    }
}

@media screen and (min-width: 1900px) {
    .manual {
        font-size: 1.2vw;
    }

    .manualInner {
        padding: 1em;
    }
}
