.ul {
    margin: 1.5vw auto;
    padding-left: 30px;
    font-size: 14px;
    line-height: 1.4;
    color: #1e2841;
    opacity: .9;
}

.ul .li {
    list-style-type: none;
    margin: .6vw 0;
}

.ul .li:before {
    display: inline-block;
    content: '— ';
    width: 1.5em;
    margin-left: -1.5em;
    opacity: .5;
}

h3 + .ul {
    margin-top: .5vw;
}

@media screen and (min-width: 991px) {
    .ul {
        font-size: clamp(14px, 1.8vw, 18px);
    }
}
