.p {
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: clamp(16px, 2.5vw, 22px);
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    margin-right: 2em;
    opacity: 0.95;
}

.p + .p {
    margin-top: 0;
}

.Template__item .p {
    line-height: 1.3;
}
