.Toolbar__container {
    height: 76px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    overflow: auto;
    z-index: 3;
}

.circleBar {
    border-radius: 50%;
}

.Toolbar__input {
    outline: 0;
    border: 0;
    padding-left: 28px;
    flex: 1;
    font-size: 18px;
    height: 76px;
    width: 150px;
}

.Toolbar__input_main {
    outline: 0;
    border: 0;
    flex: 1;
    height: 76px;
    width: 220px;
    padding-left: 30px;
    font-size: 20px;
}

.customInput {
    position: relative;
    display: flex;
    align-items: center;
}

.Toolbar__button {
    border: none; 
    outline: none;
    flex: 1;
}

.Toolbar__button:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

@media print {
    .Toolbar__container {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .Toolbar__input {
        width: 160px;
        padding-left: 28px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .Toolbar__input {
        padding-left: 28px;
        font-size: 22px;
        width: 215px;
    }

    .Toolbar__input_main {
        padding-left: 32px;
        font-size: 22px;
        width: 300px;
    }
}