.logoContainer {
  background-color: transparent;
  box-shadow: none;
  position: relative;
  display: flex;
  column-gap: 0.5em;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
  padding-left: calc(0.65em + 7.5px);
}

.logoContainer:hover,
.logoContainer:focus-visible {
  box-shadow: none;
  background-color: #ffffff;
  color: #112233;
  border-radius: 10px;
  outline: 0;
}

.logoContainerText {
  font-weight: 500;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-left: 10px;
}