.ProjectLinks {
    position: fixed;
    right: 2px;
    bottom: 2px;
    display: none;
    gap: 8px;
    padding: 6px;
    border-radius: 24px;
    background: rgba(255, 255, 255, .9);
}

.ProjectLinks__button {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 160px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    transition: .15s ease;
}

.ProjectLinks__button_about {
    color: black;
    padding: 0;
}

.ProjectLinks__button_about:hover {
    color: #646464;
}

.ProjectLinks__button_about:active {
    color: #a1a1a1;
}

.ProjectLinks__button_feedback {
    background: #ffd400;
}

.ProjectLinks__button_feedback:hover {
    background: #3e3e3e;
    color: white;
}

.ProjectLinks__button_feedback:active {
    background: black;
}

@media screen and (min-width: 991px) {
    .ProjectLinks {
        display: flex;
    }
}
