.ProjectLinks {
    position: fixed;
    right: 2px;
    bottom: 2px;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 6px;
}

.ProjectLinks__github {
    display: none;
    color: black;
}

.ProjectLinks__github svg {
    vertical-align: middle;
    height: 100%;
}

.ProjectLinks__github:hover {
    color: #3e3e3e;
}

.ProjectLinks__github:active {
    color: #535353;
}

@media screen and (min-width: 350px) {
    .ProjectLinks__github {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .ProjectLinks {
        gap: 8px;
    }
}
