.CommonLinks__container {
    position: fixed;
    display: flex;
    align-items: center;
    border-radius: 64px;
    width: 100vw;
    padding-left: 0;
    height: 76px;
    margin-left: 0px;
    bottom: 16px;
    left: 0;
    z-index: 12;
}

.mainPageContainer {
    display: none;
}

.CommonLinks__text_main {
    padding-left: 16px;
    font-size: 20px;
    line-height: 1.05;
    font-weight: 400;
}

.open {
    display: none !important;
}

.CommonLinks__icon {
    margin: 12px 0 12px 8px;
}

.CommonLinks__text {
    font-size: 20px;
    line-height: 1.05;
    font-weight: 400;
}

.CommonLinks__text:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

.CommonLinks__link {
    text-decoration: none;
    font-weight: 400;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    padding: 15px 15px 15px 8px;
    font-size: 1rem;
}

.CommonLinks__link:hover,
.CommonLinks__link:focus-visible {
    text-decoration: none;
    transition: .15s ease-in;
}

@media screen and (min-width: 991px) {
    .CommonLinks__container {
        width: max(350px, 16%);
        margin-left: 15px;
    }

    .mainPageContainer {
        display: flex;
        width: 350px;
    }
}