.CommonLinks__container {
    position: fixed;
    display: none;
    background-color: rgb(239 240 241);
    border-radius: 10px 10px 0 0;
    width: max(20%, 376px);
    height: 92px;
    margin-left: 15px;
    bottom: 0;
}

.open {
    display: flex !important;
}

.CommonLinks__icon {
    margin: 16px 0 16px 16px;
}

.CommonLinks__link {
    text-decoration: none;
    font-weight: 400;
    box-shadow: none;
    color: #14283C;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    padding: 15px;
    font-size: 1rem;
}

.CommonLinks__link:hover,
.CommonLinks__link:focus-visible {
    text-decoration: none;
    color: #E63223;
    transition: .15s ease-in;
}

@media screen and (prefers-color-scheme: dark) {
    .CommonLinks__link {
        display: inline-block;
        color: white;
    }

    .CommonLinks__link:hover,
    .CommonLinks__link:focus-visible {
        text-decoration: none;
        color: #E63223;
    }
}