.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 64px;
}

.logo {
  width: fit-content;
}

.text {
  font-weight: 700 !important;
  box-shadow: none !important;
}