@import 'normalize.css';
@import 'variables.css';
@import 'tally-widget.css';
@import 'print.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    scroll-padding-top: 8px;
}

@media screen and (min-width: 768px) {
    html {
        scroll-padding-top: 16px;
    }
}

/* Remove scrollbar when modal open */
html:has(dialog[open]) {
    overflow-y: hidden;
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    font-weight: 300;
    color: var(--color-text);
}

a {
    color: var(--color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--color-underline);
    transition: 0.15s ease;
}

a:hover {
    text-decoration-color: var(--color-underline-hover);
}
