@import 'normalize.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

::placeholder {
    color: inherit;
}

@media screen and (prefers-color-scheme: light) {
    html,
    body {
        background-color: #fff;
        color: black;
    }

    ::selection {
        background: #ffc800;
        color: black;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html,
    body {
        color: white;
        background-color: black;
    }

    ::selection {
        background: #ffc800;
        color: black;
    }
}
