.manualsSection img {
  border-radius: 0.5em;
  transform-origin: 0% 0%;
  transition: 0.1s ease transform;
}

.mainTitle {
  font-size: 10vw;
  line-height: 1;
  margin-top: 0.15em;
  color: #123;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.8em;
}

.manualTitle {
  font-size: 0;
  padding: 0;
  margin-top: 0.8em;
  font-weight: 400;
  display: none;
}

.manualsSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.homeContainer {
  padding: 2vmax;
}

@media screen and (min-width: 768px) {
  .manualsSection {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.486vw;
  }

  .mainTitle {
    text-align: left;
    margin-bottom: 0.4em;
  }

  .homeContainer {
    transform: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .mainTitle {
    color: white;
  }

  .homeContainer {
    background-color: black;
  }
}