:root {
    /* Default color */
    --color-h: 220deg;
    --color-s: 57%;
    --color-l: 38%;
    --color-hsl: var(--color-h) var(--color-s) var(--color-l);
    --color: hsl(var(--color-hsl));

    /* Text colors */
    --color-text: #1e2841;
    --color-text-blue: #337ea9;
    --color-text-yellow: #cb912f;
    --color-text-red: #d44c47;
    --color-text-green: #448361;
    --color-text-gray: #787774;

    /* Common colors */
    --color-underline: hsl(var(--color-hsl) / 20%);

    --color-underline-hover: hsl(var(--color-hsl) / 75%);

    --color-bg-light: hsl(
        var(--color-h)
        var(--color-s)
        min(calc(var(--color-l) + 62%), 97%)
    );

    --color-bg-dark: hsl(
        var(--color-h)
        var(--color-s)
        calc(var(--color-l) + 10%)
        / 10%
    );

    /* Controls settings */
    --sidebar-width: 310px;
    --sidebar-spacer: 80px;
}


@media screen and (min-width: 991px) {
    :root {
        --sidebar-spacer: 100px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --sidebar-width: 340px;
    }
}

@media screen and (min-width: 1441px) {
    :root {
        --sidebar-width: 400px;
    }
}
