.heading1 {
    font-size: clamp(56px, 10vw, 28px);
}

.heading2 {
    font-size: clamp(40px, 8vw, 24px);
}

.heading3 {
    font-size: clamp(32px, 6vw, 22px);
    margin-bottom: clamp(24px, 1.5rem, 16px);
}
