.heading1 {
    font-size: clamp(56px, 10vw, 28px);
    font-weight: 500;
}

.heading2 {
    font-size: clamp(40px, 8vw, 24px);
    font-weight: 500;
}

.heading3 {
    font-size: clamp(28px, 6vw, 22px);
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 36px;
}
