.link {
    color: var(--guides-color);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
    text-decoration-color: var(--guides-color);
    -webkit-text-decoration-color: var(--guides-color);
    transform: .15s ease;
}

.link:hover {
    color: #E63223 !important;
}
