.link {
    display: inline;
    color: #14283c !important;
    text-decoration: none !important;
    border: none !important;
    transition: all;
    transition-duration: 0.2s;
    box-shadow: 0 3px 0 0 #14283c;
}

.link:hover {
    color: #e63223 !important;
}

@media screen and (prefers-color-scheme: dark) {
    .link {
        color: #e63223 !important;
    }
}
