.heading1,
.heading2,
.heading3 {
    font-weight: 500;
    color: #1e2841;
    line-height: 1;
}

.heading1 a,
.heading2 a,
.heading3 a {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.heading1 a:before,
.heading2 a:before,
.heading3 a:before {
    position: absolute;
    right: 100%;
    opacity: .4;
    transition: .15s ease opacity;
}

.heading1:hover a:before,
.heading2:hover a:before,
.heading3:hover a:before {
    opacity: .5;
}

.heading1 {
    counter-reset: page-subsection 0;
    counter-increment: page-section;
    font-size: clamp(28px, 10vw, 50px);
    margin-top: 2.5vw;
    margin-bottom: 0.5vw;
}

.heading1 a:before {
    content: counter(page-chapter) "." counter(page-section) ". ";
}

.heading2 {
    counter-increment: page-subsection;
    font-size: clamp(24px, 8vw, 36px);
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

.heading2 a:before {
    content: counter(page-chapter) "." counter(page-section) "." counter(page-subsection) ". ";
}

.heading3 {
    font-size: clamp(22px, 6vw, 24px);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.heading1 + .heading2 {
    margin-top: 1vw;
}

br + .heading1 {
    margin-top: 4vw;
}
