.heading1,
.heading2,
.heading3 {
    position: relative;
    font-weight: 500;
    color: #1e2841;
    line-height: 1;
}

.heading1 a,
.heading2 a,
.heading3 a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.heading1 a:before,
.heading2 a:before,
.heading3 a:before {
    position: absolute;
    top: .27em;
    font-size: .73em;
    right: calc(100% + 4px);
    opacity: .4;
    transition: .15s ease opacity;
}

.heading1:hover a:before,
.heading2:hover a:before,
.heading3:hover a:before {
    opacity: .6;
}

.heading1 {
    counter-reset: page-subsection 0;
    counter-increment: page-section;
    font-size: 20px;
    margin-top: .9em;
    margin-bottom: .4em;
}

.heading1 a:before {
    content: counter(page-chapter) "." counter(page-section) ". ";
}

@media (min-width: 991px) {
    .heading1 {
        font-size: clamp(28px, 10vw, 40px);
    }
}

.heading2 {
    counter-increment: page-subsection;
    font-size: 18px;
    margin-top: .5em;
    margin-bottom: .5em;
}

@media (min-width: 991px) {
    .heading2 {
        font-size: clamp(28px, 10vw, 32px);
    }
}

.heading2 a:before {
    content: counter(page-chapter) "." counter(page-section) "." counter(page-subsection) ". ";
}

.heading3 {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

@media (min-width: 991px) {
    .heading3 {
        font-size: clamp(22px, 6vw, 24px);
    }
}

.heading1 + .heading2 {
    margin-top: 1em;
}

br + .heading1 {
    margin-top: 4vw;
}
