.heading1,
.heading2,
.heading3 {
    position: relative;
    font-weight: 500;
    line-height: 1;
}

.heading1 a,
.heading2 a,
.heading3 a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.heading1 a:before,
.heading2 a:before,
.heading3 a:before {
    position: absolute;
    top: 0.31em;
    font-size: 0.73em;
    right: calc(100% + 4px);
    opacity: 0.4;
    transition: 0.15s ease opacity;
}

.heading1:hover a:before,
.heading2:hover a:before,
.heading3:hover a:before {
    opacity: 0.6;
}

.heading1 {
    counter-reset: page-subsection 0;
    counter-increment: page-section;
    font-size: 20px;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    margin-left: -0.04em;
}

.heading1 a:before {
    content: counter(page-chapter) '.' counter(page-section) '. ';
}

@media (min-width: 991px) {
    .heading1 {
        font-size: clamp(28px, 10vw, 34px);
    }
}

.heading2 {
    counter-increment: page-subsection;
    font-size: 18px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-left: -0.02em;
}

@media (min-width: 991px) {
    .heading2 {
        font-size: clamp(24px, 10vw, 28px);
    }
}

.heading2 a:before {
    content: counter(page-chapter) '.' counter(page-section) '.' counter(page-subsection) '. ';
}

.heading3 {
    font-size: 16px;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

@media (min-width: 991px) {
    .heading3 {
        font-size: clamp(18px, 1.75vw, 22px);
    }
}

.heading1 + .heading2 {
    margin-top: 1em;
}

br + .heading1 {
    margin-top: 4vw;
}
