.arrowNavLink {
    box-shadow: none;
    margin: 0 0 76px;
    border-radius: 2rem;
    font-weight: 400;
    font-size: clamp(14px,1.8vw,18px);
    transition: .3s;
    color: var(--color);
    z-index: 11;
}

.arrowNavLinkNext {
    display: inline-block;
    margin-bottom: .45em;
    font-size: .8em;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.arrowNavLink:hover .arrowNavLinkNextText {
    text-decoration: underline;
}

@media print {
    .arrowNavLink {
        display: none;
    }
}
